<!--/*
* ============LICENSE_START=======================================================
* ONAP : CDS
* ================================================================================
* Copyright (C) 2019 TechMahindra
*=================================================================================
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
* ============LICENSE_END=========================================================
*/-->
<mat-card class="ver-card">
  <mat-card-header><div class="mat-card-header">Create Catalog</div>
  </mat-card-header>
  <mat-card-content>
<form [formGroup]="CatalogFormData" (ngSubmit)="CreateCatalog()">
  <mat-form-field class="form-field">
   <input matInput placeholder="Model Name" formControlName="Model_Name">
 </mat-form-field>
 <mat-form-field class="form-field" >
  <input matInput placeholder="User Id" formControlName="User_id">
</mat-form-field>
 <mat-form-field class="form-field">
   <input matInput placeholder="Tags" formControlName="_tags">
 </mat-form-field>
 <mat-form-field class="form-field">
   <mat-select matInput placeholder="Definition Type" formControlName="_type">
     <mat-option [value]="item" *ngFor="let item of definitionType">{{item.definitionType}}</mat-option>
   </mat-select>
 </mat-form-field>
 <mat-form-field class="form-field" >
   <mat-select matInput placeholder="Derived From" formControlName="Derived_From">
    <mat-option [value]="item" *ngFor="let item of derivedFrom">{{item.derivedFrom}}</mat-option>
   </mat-select>
 </mat-form-field>
 <mat-form-field class="form-field" >
   <textarea matInput placeholder="Description" formControlName="_description"></textarea>
 </mat-form-field>
  <br>
  <div >
      <json-editor  placeholder="Definition" class="jsoneditor" [options]="options" [data]="resources" on-change="onChange($event)"></json-editor>
  </div>
 <div>
   <button mat-button class="matStepNextBtn" type="submit">Save</button>
 </div>  
</form>
</mat-card-content>
</mat-card>